.skillCard {
    width: 80%;
    border: black solid 1px;
    border-radius: 25px;

    padding: 2rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.skillDesc {
    font-size: 1.3rem;
}