@use "../../_global" as *;

.devIcons {
    display: grid;  
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    justify-content: center;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    max-width: 100%;
}

.softwareSkillInline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.softwareSkillInline > i {
  color: $subTitle;
}

.softwareSkillInline > i:hover {
  color: $skillsColor;
}
.softwareSkillInline > p {
  color: $subTitle;
  font-size: 12px;
}
.softwareSkillInline > i:hover ~ p {
  color: $skillsColor;
}

.skillIconImage {
    width: 1em;
    transform: translateY(5px);
}
